attrs==22.2.0
bidict==0.22.1
click==8.1.3
contourpy==1.0.7
coverage==7.2.2
cycler==0.11.0
exceptiongroup==1.1.1
Flask==2.2.3
fonttools==4.39.3
imageio==2.27.0
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.7.1
numpy==1.24.2
packaging==23.0
Pillow==9.4.0
pluggy==1.0.0
pycairo==1.23.0
pycodestyle==2.10.0
pyparsing==3.0.9
pytest==7.2.2
python-dateutil==2.8.2
PyYAML==6.0
scipy==1.10.1
six==1.16.0
tifffile==2023.3.21
tomli==2.0.1
Werkzeug==2.2.3
