<form class="form-horizontal" ng-submit="$ctrl.run()">
    <!--
    Group everything inside a fieldset so that all inputs can be disabled/enabled at once
    -->
    <fieldset ng-disabled="$ctrl.disabled">

        <!-- Algorithm selection -->
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="algorithm">Algorithm:</label>
            </div>
            <div class="col-9 col-sm-12">
                <select class="form-select" name="algorithm" id="algorithm"
                        ng-model="$ctrl.algorithm">
                    <option ng-repeat="(label, display_name) in $ctrl.algorithm_labels"
                            value="{{ label }}">
                        {{ display_name }}
                    </option>
                </select>
            </div>
        </div>

        <!-- Matrix CSV -->
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="matrix">Dataset:</label>
            </div>
            <div class="col-9 col-sm-12">
                <table class="table striped matrix-table">
                    <thead>
                        <tr>
                            <th></th>  <!-- First col is source labels -->
                            <th ng-repeat="col in $ctrl.matrix.entries[0] track by $index">
                                Variable {{ $index + 1 }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in $ctrl.matrix.entries" ng-init="i = $index">
                            <td>Source {{ i + 1 }}</td>
                            <td ng-repeat="col in row track by $index"
                                ng-init="j = $index">

                                <span ng-show="!$ctrl.matrix.being_edited[i][j]"
                                      ng-click="$ctrl.startEditingCell(i, j, $event)">
                                    {{ col || "-" }}
                                </span>

                                <input ng-show="$ctrl.matrix.being_edited[i][j]"
                                       ng-model="$ctrl.matrix.entries[i][j]"
                                       ng-blur="$ctrl.stopEditingCell(i, j)" />

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Errors -->
        <div class="has-error">
            <p ng-show="$ctrl.error" class="form-input-hint">{{ $ctrl.error }}</p>
        </div>

        <!-- Submit button -->
        <div class="form-group">
            <div class="col-9 col-sm-12">
                <button class="btn btn-primary">Run</button>
            </div>
        </div>
    </fieldset>
</form>
