<form class="form-horizontal" ng-submit="$ctrl.run()">
    <!--
    Group everything inside a fieldset so that all inputs can be disabled/enabled at once
    -->
    <fieldset ng-disabled="$ctrl.service.state == 'loading'">

        <!-- Algorithm selection -->
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="algorithm">Algorithm:</label>
            </div>
            <div class="col-9 col-sm-12">
                <select class="form-select" name="algorithm" id="algorithm"
                        ng-model="$ctrl.algorithm">
                    <option ng-repeat="(label, display_name) in $ctrl.algorithm_labels"
                            value="{{ label }}">
                        {{ display_name }}
                    </option>
                </select>
            </div>
        </div>

        <!-- Matrix CSV -->
        <div class="form-group">
            <div class="col-3 col-sm-12">
                <label class="form-label" for="matrix">Dataset:</label>
            </div>
            <div class="col-9 col-sm-12">
                <table class="table striped matrix-table">
                    <thead>
                        <tr>
                            <th></th>  <!-- First col is source labels -->
                            <th ng-repeat="col in $ctrl.matrix.entries[0] track by $index">
                                Variable {{ $index + 1 }}
                                <i class="icon icon-cross delete"
                                   ng-click="$ctrl.matrix.deleteVariable($index)"
                                   ng-show="$ctrl.matrix.entries[0].length > 1">
                                </i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in $ctrl.matrix.entries">
                            <td>
                                Source {{ $index + 1 }}
                                <i class="icon icon-cross delete"
                                   ng-click="$ctrl.matrix.deleteSource($index)"
                                   ng-show="$ctrl.matrix.entries.length > 1">
                                </i>
                            </td>
                            <td ng-repeat="col in row track by $index"
                                ng-click="$ctrl.startEditingCell($parent.$index, $index, $event)">

                                <span ng-show="!$ctrl.matrix.being_edited[$parent.$index][$index]">
                                    {{ col || "-" }}
                                </span>

                                <input ng-show="$ctrl.matrix.being_edited[$parent.$index][$index]"
                                       ng-model="$ctrl.matrix.entries[$parent.$index][$index]"
                                       ng-blur="$ctrl.stopEditingCell($parent.$index, $index)"
                                       type="number" />

                            </td>
                        </tr>
                    </tbody>
                </table>

                <button class="btn" type="button" ng-click="$ctrl.matrix.addSource()">
                    Add source
                </button>
                <button class="btn" type="button" ng-click="$ctrl.matrix.addVariable()">
                    Add Variable
                </button>
                <button class="btn" type="button" ng-click="$ctrl.toggleCsvDialog()">
                    Load from CSV
                </button>
            </div>
        </div>

        <div class="form-group" ng-show="$ctrl.service.previous_results !== null">
            <label class="form-checkbox">
                <input type="checkbox" ng-model="$ctrl.compare_results" />
                <i class="form-icon"></i>
                Compare against previous results
            </label>
        </div>

        <!-- Errors -->
        <div class="has-error">
            <p ng-show="$ctrl.error" class="form-input-hint">{{ $ctrl.error }}</p>
        </div>

        <!-- Submit button -->
        <div class="form-group">
            <div class="col-9 col-sm-12">
                <button class="btn btn-primary">Run</button>
            </div>
        </div>

        <!-- Load CSV modal dialog -->
        <div class="modal active" id="modal-id" ng-show="$ctrl.load_csv.dialog_open">
            <a href="#close" class="modal-overlay" aria-label="Close"></a>
            <div class="modal-container">
                <div class="modal-header">
                    <a href="#" class="btn btn-clear float-right"
                       ng-click="$ctrl.toggleCsvDialog()">
                    </a>
                    <div class="modal-title h5">Load matrix from CSV</div>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <p ng-show="$ctrl.load_csv.error" class="form-input-hint">
                            {{ $ctrl.load_csv.error }}
                        </p>
                        <textarea ng-model="$ctrl.load_csv.textarea"
                                  class="form-input"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            ng-click="$ctrl.loadFromCSV()">
                        Load
                    </button>
                    <button type="button" class="btn"
                            ng-click="$ctrl.toggleCsvDialog()">
                        Cancel
                    </button>
                </div>
            </div>
        </div>

    </fieldset>
</form>
