<!DOCTYPE html>
<html ng-app="tdApp">
    <head>
        <title>Truth-discovery tool</title>
        <link rel="stylesheet" href="/static/css/spectre.min.css">
        <link rel="stylesheet" href="/static/css/spectre-icons.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/static/js/angular.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Truth-discovery tool</h1>
            <main-form id="main-form"></main-form>
            <results></results>
        </div>

        <script type="text/json" id="data-json">{{ data_json }}</script>
        <script type="text/javascript" src="/static/app/matrix.js"></script>
        <script type="text/javascript" src="/static/app/app.js"></script>
    </body>
</html>
